name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore

      - name: Publish
        run: dotnet publish Game -c Release -r win-x64 -p:PublishAot=true --self-contained true -p:DebugSymbols=false

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: game-build
          path: Game/bin/Release/net10.0/win-x64/publish/

