name: Build

on:
  push:
    tags:
      - "v*"
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore

      - name: Publish
        run: dotnet publish Game -c Release -r win-x64 --self-contained true -p:DebugSymbols=false

      - name: Zip build
        run: |
          powershell -Command "Compress-Archive -Path 'Game/bin/Release/net10.0/win-x64/publish/*' -DestinationPath 'game-build.zip'"

      - name: Create release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: "game-build.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
